<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.png')}}" type="image/x-icon">

    <!--=============== BOXICONS ===============-->

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/swiper-bundle.min.css')}}">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

    <title> Sahil Govekar </title>
</head>

<body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">Sahil Govekar | BLOG</a>

            <!-- Theame change button -->
            <i class='bx bxs-moon change-theme' id="theme-button"></i>
        </nav>
    </header>

    <!--=============== MAIN ===============-->
    
    <!-- blog list -->
    <section class="about section" id="about">

        <div class="about__container container grid">

            <div>
                <div class="about__data">
                    <h2>{{post.title}}</h2>
                    <br>
                    <div class="about__info">
                        <div class="about__box">
                            <i class='bx bx-category about__icon'></i>
                            <h3 class="about__title">Category</h3>
                            <span class="about__subtitle">{{post.category}}</span>
                        </div>
                    </div>
    
                    <p class="about__description">
                        {{post.content}}
                    </p>
    
                    <a href="/blog" class="button">Back</a>
                </div>
            </div>

             
        </div>
    </section>





    <!--=============== FOOTER ===============-->
    <footer class="footer">
        <div class="footer__container container">
            <h1 class="footer__title">@sahilsgovekar</h1>

            <ul class="footer__list">
                <li>
                    <a href="#about" class="footer__link">about</a>
                </li>

                <li>
                    <a href="#blog" class="footer__link">Blog</a>
                </li>

                <li>
                    <a href="#podcast" class="footer__link">podcast</a>
                </li>
            </ul>

            <ul class="footer__social">
                <a href="" target="_blank" class="footer__social-link">
                    <i class='bx bxl-linkedin'></i>
                </a>

                <a href="" target="_blank" class="footer__social-link">
                    <i class='bx bxl-github'></i>
                </a>

                <a href="" target="_blank" class="footer__social-link">
                    <i class='bx bxl-instagram'></i>
                </a>
            </ul>
            <span class="footer__copy">
                &#169; 2023: all right reseverd
            </span>
        </div>

    </footer>

    <!--=============== SCROLLREVEAL ===============-->
    <script src="{{url_for('static', filename='js/scrollreveal.min.js')}}"></script>

    <!--=============== SWIPER JS ===============-->
    <script src="{{url_for('static', filename='js/swiper-bundle.min.js')}}"></script>

    <!--=============== MIXITUP FILTER ===============-->
    <script src="{{url_for('static', filename='js/mixitup.min.js')}}"></script>

    <!--=============== MAIN JS ===============-->
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>

</html>